streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
pypdf
chromadb
langchain-chroma
sentence-transformers
pytubefix
langchain-google-genai
accelerate>=0.26.0 
torch>=2.2.0
transformers>=4.38.0
youtube-transcript-api